= form_for @nvs_subsystem do |f|
  - if @nvs_subsystem.errors.any?
    #error_explanation
      //%h2= "#{pluralize(@nvs_subsystem.errors.count, "error")} prohibited this nvs_subsystem from being saved:"
      %ul
        - @nvs_subsystem.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label   t "Internal Name"
    = f.text_field :internal_name


  - if @project_related and @project_related.any?
    %br
    %br
    %h4
      = t "Projects Already related"
    %table
      - i = 0
      %tr
        - @project_related.each do |project_related|
          - if i % 10 == 0
            %tr
          %td
            %label
              = check_box_tag 'project_related_ids[]',  project_related[1].to_s, true
              = project_related[0]
          - i = i+1

  %br
  %br

  - if @dept_projects.any?
    %h4
      = t "Projects to relate with"
    %table
      - i = 0
      %tr
        = check_box_tag 'select_all_depts_project_ids'
        = "Select All"
      %tr
        - @dept_projects.each do |depts_project|
          - if i % 10 == 0
            %tr
          %td
            %label
              = check_box_tag 'depts_project_ids[]',  depts_project[1].to_s
              = depts_project[0]
          - i = i+1

    :javascript
      $('#select_all_depts_project_ids').click(function() {
        var c = this.checked;
        $('#depts_project_ids_*').prop('checked',c);
      });


  .actions
    = f.submit t "Save"
