= render partial: 'layouts/menu'

%h1
  = t "Subsystem List"

.autoscroll
  %table.list
    %tr
      %th
        = t 'Name'
      %th
        = t 'Internal Name'
      %th
      %th

    - @nvs_subsystems.each do |nvs_subsystem|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to nvs_subsystem.name, nvs_subsystem
        %td= nvs_subsystem.internal_name
        %td= link_to image_tag('edit.png'), edit_nvs_subsystem_path(nvs_subsystem)
        %td= link_to image_tag('delete.png'), nvs_subsystem, :method => :delete, :data => { :confirm => (t 'Are you sure') }

  %br

  = link_to  (t 'New Subsystem'), new_nvs_subsystem_path
