= form_for @nvs_pack do |f|
  - if @nvs_pack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nvs_pack.errors.count, "error")} prohibited this nvs_pack from being saved:"
      %ul
        - @nvs_pack.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :x_id
    = f.number_field :x_id
  .field
    = f.label :x_type
    = f.text_field :x_type
  .field
    = f.label :nvs_env_id
    = f.number_field :nvs_env_id
  .field
    = f.label :emergencies
    = f.text_field :emergencies
  .field
    = f.label :audit
    = f.text_field :audit
  .field
    = f.label :project_id
    = f.number_field :project_id
  .actions
    = f.submit 'Save'
