= form_for @nvs_dept do |f|
  - if @nvs_dept.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nvs_dept.errors.count, "error")} prohibited this nvs_dept from being saved:"
      %ul
        - @nvs_dept.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label    :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .ul
    - @dept_projects.each do |depts_project|
      .li
        = check_box_tag 'depts_project_ids[]',  depts_project[1].to_s
        = depts_project[0]
  .actions
    = f.submit (t 'Save')
