= form_for @nvs_dept do |f|
  - if @nvs_dept.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nvs_dept.errors.count, "error")} prohibited this nvs_dept from being saved:"
      %ul
        - @nvs_dept.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label    :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email



  - if @project_related
    %br
    %br
    %h4
      = t "Projects Already related:"
    %table
      - i = 0
      %tr
        - @dept_projects.each do |depts_project|
          - if i % 10 == 0
            %tr
          %td
            %label
              = check_box_tag 'depts_project_ids[]',  depts_project[1].to_s
              = depts_project[0]
          - i = i+1

  %br
  %br
  %h4
    = t "Projects to relate with:"
  %table
    - i = 0
    %tr
      = check_box_tag 'select_all_depts_project_ids'
      = "Select All"
    %tr
      - @dept_projects.each do |depts_project|
        - if i % 10 == 0
          %tr
        %td
          %label
            = check_box_tag 'depts_project_ids[]',  depts_project[1].to_s
            = depts_project[0]
        - i = i+1

  :javascript
    $('#select_all_depts_project_ids').click(function() {
      var c = this.checked;
      $(':checkbox').prop('checked',c);
    });
    
  .actions
    = f.submit (t 'Save')
