= render partial: 'layouts/menu'

%h1 Listing nvs_depts

.autoscroll
  %table.list
    %tr
      %th
        = t "Name"
      %th
        = t "Email"
      %th
        = "Project"
      %th
      %th

    - @nvs_depts.each do |nvs_dept|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to nvs_dept.name, nvs_dept
        %td= nvs_dept.email
        %td= nvs_dept.project.name
        %td= link_to image_tag('edit.png'), edit_nvs_dept_path(nvs_dept)
        %td= link_to image_tag('delete.png'), nvs_dept, :method => :delete, :data => { :confirm => (t 'Are you sure') }

  %br

  = link_to (t 'New Nvs dept'), new_nvs_dept_path
