= render partial: 'layouts/menu'

%p#notice= notice

%p
  %b Name:
  = @nvs_dept.name
%p
  %b Email:
  = @nvs_dept.email
%br
  
- if @project_related.any?
  %h4
    = t "Projects related"
  %table
    - i = 0
    %tr
      - @project_related.each do |depts_project|
        - if i % 10 == 0
          %tr
        %td
          %label
            = depts_project[0]
        - i = i+1

= link_to (t 'Edit'), edit_nvs_dept_path(@nvs_dept)
\|
= link_to (t 'Back'), nvs_depts_path
