= render partial: 'layouts/menu'
%h1
  = t "Add users Departaments"

= form_tag(users2dept_nvs_depts_path, method: :get) do
  .fields
    = select_tag "Departaments" , options_for_select(@depts)
    %br
  %table
    - @users.each do |user|
      %tr
        %td
          = check_box_tag 'users_selected[]',  user[1].to_s
          = user[0].to_s


%br
  .actions
    = submit_tag (t 'Save')
