= render partial: 'layouts/menu'
%h1 
  = t "Environments"

.autoscroll
  %table.list
    %tr
      %th 
        = t ("Name")
      %th 
        = t ("Description")
      %th 
        = t ("Mayor rle")
      %th 
        = t ("Minor rle")
      %th 
        = t ("Sequence")
      %th 
        = t ("Type")
      %th 
        = t ("Repositories")
      %th 
        = t ("Runtime")
      %th 
        = t ("Subsystems")
      %th
      %th

    - @nvs_envs.each do |nvs_env|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to nvs_env.name, nvs_env
        %td= nvs_env.description
        %td= nvs_env.mayor_rle
        %td= nvs_env.minor_rle
        %td= nvs_env.sequence
        %td= t (NvsEnv.types.key(nvs_env.type_id))
        %td= nvs_env.repositories
        %td= nvs_env.runtime
        %td= nvs_env.subsystems
        %td= link_to image_tag('edit.png'), edit_nvs_env_path(nvs_env)
        %td= link_to image_tag('delete.png'), nvs_env, :method => :delete, :data => { :confirm => (t 'Are you sure?') }

  %br

= link_to ( t 'New Environment'), new_nvs_env_path
