= render partial: 'layouts/menu'

= link_to l(:button_edit), edit_nvs_mig_process_path(@nvs_mig_process), :onclick => 'showAndScrollTo("update", "nvs_mig__process_name"); return false;', :class => 'icon icon-edit'

%p#notice= notice

.issue
  .subject
    %h3
      = @nvs_mig_process.name
  %table.attributes
    %tbody
      %tr
        %td
          %b=t "Description:"
        %td
          = @nvs_mig_process.description
        %td
          %b=t "Main process:"
        %td
          = @nvs_mig_process.nvs_main_process
      %tr
        %td
          %b=t "Action:"
        %td
          = @nvs_mig_process.nvs_action
        %td
          %b=t "Action type:"
        %td
          = @nvs_mig_process.nvs_action_type
      %tr
        %td
          %b=t "Action type:"
        %td
          = @nvs_mig_process.nvs_action_type
        %td
          %b=t "Action sequence:"
        %td
          = @nvs_mig_process.nvs_action_sequence
      %tr
        %td
          %b=t "Process sequence:"
        %td
          = @nvs_mig_process.nvs_process_sequence
        %td
          %b=t "Target env t:"
        %td
          = @nvs_mig_process.target_env_t
      %tr
        %td
          %b=t "Target env x:"
        %td
          = @nvs_mig_process.target_env_c
        %td
          %b=t "Target env p:"
        %td
          = @nvs_mig_process.target_env_p
      %tr
        %td
          %b=t "Mig status:"
        %td
          = @nvs_mig_process.nvs_mig_status_id


%div#update{:style=>"display:none;"}
  = render 'form'

= link_to l(:button_edit), edit_nvs_mig_process_path(@nvs_mig_process), :onclick => 'showAndScrollTo("update", "nvs_mig_process_name"); return false;', :class => 'icon icon-edit'
|
= link_to (t 'Back'), nvs_mig_processes_path
