= form_for @nvs_mig do |f|
  - if @nvs_mig.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nvs_mig.errors.count, "error")} prohibited this nvs_mig from being saved:"
      %ul
        - @nvs_mig.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :source_env_id
    = f.number_field :source_env_id
  .field
    = f.label :target_env_id
    = f.number_field :target_env_id
  .field
    = f.label :init_date
    = f.datetime_select :init_date
  .field
    = f.label :end_date
    = f.datetime_select :end_date
  .field
    = f.label :nvs_mig_status_id
    = f.number_field :nvs_mig_status_id
  .field
    = f.label :nvs_process_sequence
    = f.text_field :nvs_process_sequence
  .field
    = f.label :nvs_action_sequence
    = f.text_field :nvs_action_sequence
  .field
    = f.label :project_id
    = f.number_field :project_id
  .actions
    = f.submit 'Save'
