= render partial: 'layouts/menu'
%h1 Listing nvs_migs

.autoscroll
  %table.list
    %tr
      %th Name
      %th Source env
      %th Target env
      %th Init date
      %th End date
      %th Nvs mig status
      %th Nvs process sequence
      %th Nvs action sequence
      %th
      %th
      %th

    - @nvs_migs.each do |nvs_mig|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= link_to nvs_mig.name, nvs_mig
        %td= nvs_mig.source_env.name unless nvs_mig.source_env.nil?
        %td= nvs_mig.target_env.name unless nvs_mig.target_env.nil?
        %td= nvs_mig.init_date
        %td= nvs_mig.end_date
        %td= nvs_mig.nvs_mig_status_id
        %td= nvs_mig.nvs_process_sequence
        %td= nvs_mig.nvs_action_sequence
        %td= link_to 'Edit', edit_nvs_mig_path(nvs_mig)
        %td= link_to 'Destroy', nvs_mig, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

= link_to 'New Nvs mig', new_nvs_mig_path
