= render partial: 'layouts/menu'

= link_to l(:button_edit), edit_nvs_mig_path(@nvs_mig), :onclick => 'showAndScrollTo("update", "nvs_mig_name"); return false;', :class => 'icon icon-edit'

%p#notice= notice

.issue
  .subject
    %h3
      = @nvs_mig.name
  %table.attributes
    %tbody
      %tr
        %td
          %b=t "Name:"
        %td
          = @nvs_mig.name
        %td
          %b=t "Init date:"
        %td
          = @nvs_mig.init_date
      %tr
        %td
          %b=t "Source env:"
        %td
          = @nvs_mig.source_env.name unless @nvs_mig.source_env.blank?
        %td
          %b=t "End date:"
        %td
          = @nvs_mig.end_date
      %tr
        %td
          %b=t "Target env:"
        %td
          = @nvs_mig.target_env.name unless @nvs_mig.target_env.blank?
        %td
          %b=t "Nvs mig status:"
        %td
          = @nvs_mig.nvs_mig_status.name unless @nvs_mig.nvs_mig_status.blank?



%div#update{:style=>"display:none;"}
  = render 'form'

= link_to l(:button_edit), edit_nvs_mig_path(@nvs_mig), :onclick => 'showAndScrollTo("update", "nvs_mig_name"); return false;', :class => 'icon icon-edit'
|
= link_to 'Back', nvs_migs_path
