= stylesheet_link_tag      "menu.css",  :plugin => "redmine_nvs"
= javascript_include_tag   "menu.js",   :plugin => "redmine_nvs"

%div#cssmenu
  %ul
    %li.active
      %a{:href => nvs_subsystems_path( :project_id => session[:project_id] )}
        %span
          = t "Home"
    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Configuration"
        %ul
          %li
            = link_to (t 'Subsystems'), nvs_subsystems_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'Projects'), nvs_dept_projects_path( :project_id => session[:project_id] )
          %li.has-sub
            = link_to (t 'Departaments'), nvs_depts_path( :project_id => session[:project_id] )
            %ul
              %li
                = link_to (t 'Index'), nvs_depts_path( :project_id => session[:project_id] )
              %li
                = link_to (t 'Add users to dept'),  users2dept_nvs_depts_path
          %li.has-sub
            %a{:href => "#"}
              %span
                = t "Goal"
            %ul
              %li
                = link_to (t 'Goals'), nvs_goals_path( :project_id => session[:project_id] )
              %li
                = link_to (t 'Goal Types'), nvs_goal_types_path( :project_id => session[:project_id] )                
          %li
            = link_to (t 'Users'), nvs_dept_users_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'Environment'), nvs_envs_path( :project_id => session[:project_id] )

    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Migrations"
        %ul
          %li
            = link_to (t 'Migrations'), nvs_migs_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'Migration Statuses'), nvs_mig_statuses_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'Migration Processes'), nvs_mig_processes_path( :project_id => session[:project_id] )                                                  
