= stylesheet_link_tag      "menu.css",  :plugin => "redmine_nvs"
= javascript_include_tag   "menu.js",   :plugin => "redmine_nvs"

%div#cssmenu
  %ul
    %li.active
      %a{:href => nvs_subsystems_path( :project_id => session[:project_id] )}
        %span
          = t "Home"

    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Subsystems"
        %ul
          %li
            = link_to (t 'Index'), nvs_subsystems_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'New'),  new_nvs_subsystem_path
    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Departament of Projects"
        %ul
          %li
            = link_to (t 'Index'), nvs_dept_projects_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'New'),  new_nvs_dept_project_path
    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Departaments"
        %ul
          %li
            = link_to (t 'Index'), nvs_depts_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'New'),  new_nvs_dept_path
          %li
            = link_to (t 'Add users to dept'),  users2dept_nvs_depts_path
    %li.has-sub
      %a{:href => "#"}
        %span
          = t "Users"
        %ul
          %li
            = link_to (t 'Index'), nvs_dept_users_path( :project_id => session[:project_id] )
          %li
            = link_to (t 'New'),  new_nvs_dept_user_path
